click==7.1.2
dnspython==1.16.0
Flask==1.1.2
Flask-JSGlue==0.3.1
Flask-Login==0.5.0
Flask-WTF==0.14.3
greenlet==1.0.0
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.0.1
MarkupSafe==1.1.1
numpy==1.20.0
pandas==1.2.2
python-dateutil==2.8.1
pytz==2021.1
s3transfer==0.3.6
six==1.15.0
threadpoolctl==2.1.0
urllib3==1.26.4
Werkzeug==1.0.1
WTForms==2.3.3
scikit-learn==0.24.1